{% extends "base.html" %}

{% block title %}Рейтингові списки по пріоритетам!{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="center">
                <h1 class="flow-text"><b>Рейтингові списки по пріоритетам!</b></h1>
            </div>
        </div>

        <div class="row">
            <div class="center">
                <h1 class="flow-text"><b>Як користуватись</b></h1>
            </div>

            <ul class="center">
                <li class="flow-text">
                    <p>1) На сайті <a target="_blank"  href="http://www.vstup.info/">www.vstup.info</a> знайдіть рейтинговий список, який вас цікавить.</p>
                </li>
                <li class="flow-text">
                    <p>2) Скопіюйте посилання на цей список (н.п: <a target="_blank"  href="http://www.vstup.info/2017/97/i2017i97p369386.html">http://www.vstup.info/2017/97/i2017i97p369386.html</a>).</p>
                </li>
                <li class="flow-text">
                    <p>3) Вставте це посилання в пошуковий рядок на цьому сайті та натисніть Enter або кнопку шукати.</p>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="center">
                <h1 class="flow-text"><b>Як це працює</b></h1>
            </div>

            <ul class="center">
                <li class="flow-text">
                    <p>На сайті <a rel="nofollow" target="_blank"  href="http://www.vstup.info/">www.vstup.info</a> рейтингові списки відсортовані за конкурсним балом, проте з системою пріоритетів це не відображає реальну можливисть вступу на ту чи іншу спеціальність.</p>
                    <p>Тому цей сайт сортує спочатку за пріоритетом, а потім за конкурсним балом, що вирішує вищевказану проблему з пріоритетами.</p>
                </li>
            </ul>
        </div>

    </div>


{% endblock %}